@using Diary.Models;

<label action="places/places" method="post">
  <label for="cityName">What city did you visit?</label>
  <input id="cityName" name="cityName" type="text">
  <label for="image">Add an image from your trip!</label>
  <input id="image" name="image" type="text">
  <label for="duration">How many days were you on your trip?</label>
  <input id="duration" name="duration" type="text">
  <label for="travelPartner">Who did you travel with?</label>
  <input id="travelPartner" name="travelPartner" type="text">
  <label for="journalEntry">Please describe your trip here: </label>
  <input id="journalEntry" name="journalEntry" type="text">

  <button type="submit">Submit</button>
</label>