@using Diary.Models;

<label action="/places/show" method="post">
  <label for="cityName">Add a new City:</label>
  <input id="cityName" name="cityName" type="text">
  <label for="duration">How long were you on your trip?:</label>
  <input id="duration" name="duration" type="text">
  <label for="travelPartner">Who did you travel with?</label>
  <input id="travelPartner" name="travelPartner" type="text">
  <label for="journalEntry">Add a new journal entry for your trip:</label>
  <input id="journalEntry" name="journalEntry" type="text">

  <button type="submit">Submit</button>
</label>